PORT=5000
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=7d
NODE_ENV=development
IOT_DEVICE_KEY=c6434102b1bc43049134b06be40ec3875dc86dd7aa4a4325afe3af4abb2c1d33

# ML model
ML_MODEL_PATH=
ML_SCALER_PATH=
ML_SEQ_LENGTH=150
ML_THRESHOLD_TEMP=25
ML_THRESHOLD_PH_MIN=6.5
ML_THRESHOLD_PH_MAX=8.5
ML_THRESHOLD_TDS=300
ML_THRESHOLD_TURB=3
